pyc2ray/__pycache__/
pyc2ray/*/__pycache__/
pyc2ray/lib/*.so
src/*/*.so
src/*/*.o
src/*.egg-info
*.egg-info
build
work
run
.ipynb_checkpoints/
.vscode/
*.pkl
docs/tutorials/test_results/
docs/tutorials/test_results/*
pyc2ray/tables/multifreq/*png
test/debug/*png
